/* 
Project Name: Angus Website
Client: Me
Author: Me
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */
/* light gray background: #DEE0E2 
 */

/* typefaces: Space Mono for headers, Karla for body;

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}
img {
	max-width:100%;
}

h1, h2, h3 {
	font-family: 'Space Mono', monospace;
}

p {
	font-family: 'Karla', sans-serif;
}

body {
	background-color: #DEE0E2; 
}

.column-full {
	width: 100%;
}

.column-one-third {
	width: 33.33%;
	float: left;
	padding: 5px;
}

.grid-row {
	clear: left;
}

.intro {
	font-size: 3em;
}

.intro sup {
	color: white;
}

.intro a {
	text-decoration: none
	
}


/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.site-header {

}
.site-content {

}
.site-footer {
clear: left;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




