/* 
Project Name: Angus Website
Client: Me
Author: Me
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */
/* light gray background: #DEE0E2 
 */

/* typefaces: Space Mono for headers, Karla for body;

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

$background-color: #DEE0E2;
$headline-font: 'Space Mono', monospace;
$body-font: 'Karla', sans-serif;

* {
     box-sizing: border-box;
}
.site-content{
	margin-top: 2em;
}
img {
	max-width:100%;
	filter: grayscale(10%);
}

h1, h2, h3 {
	font-family: $headline-font;
}

p {
	font-family: $body-font;
}

body {
	background-color: $background-color; 
}

.column-full {
	width: 100%;
}

.column-one-third {
	width: 33.33%;
	float: left;
	padding: 5px;
}

.grid-row {
	clear: left;
}

.intro {
	font-size: 3em;
	a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	}
	a:hover{
	color:black;
	text-decoration: underline;
	text-decoration-color: red;	
	}
	sup a {
	color: red;	
	}
}

.fa {
	font-size: 2.5em;
	padding: 0.2em;
	color: black;
}

.navigation {
  	font-family: $headline-font;
  	font-size: 1.5em;
  	position: fixed;
  	right: 0;
  	top: 10%;
  	width: 8em;
  	margin-top: -2.5em;
  	a {
  	color: black;
  	}
}


/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.site-header {

}
.site-content {

}
.site-footer {
clear: left;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




